@model DawDK.inscricao

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<aside class="right-side">

    <h3>Certeza que deseja apagar?</h3>
    <div>
      
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Data_Inscricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data_Inscricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.evento1.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.evento1.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.participante.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.participante.Nome)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar a Lista", "Index")
            </div>
        }
    </div>
    </aside>